<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="Touchpoints" connectionString="Data Source=localhost;Initial Catalog=Touchpoints;Integrated Security=True"/>-->
    <add name="Touchpoints" connectionString="Data Source=SQL2X;Initial Catalog=Touchpoints;Persist Security Info=True;User ID=touchpoints;Password=44Nx32G~D4|X29462j"/>
    
  </connectionStrings>
</configuration>