<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TouchpointsWeb" connectionString="Data Source=localhost;Initial Catalog=TouchpointsWeb;Integrated Security=True"/>
    <!--<add name="TouchpointsWeb" connectionString="Data Source=31.222.157.12;Initial Catalog=TouchpointsWeb;Persist Security Info=True;User ID=touchpoints;Password=44Nx32G~D4|X29462j"/>-->
    
  </connectionStrings>
</configuration>